.about-section-container {
    position: relative; /* Ensure particles are positioned within this container */
    width: 100%;
    height: 70vh; /* Full height to ensure the particles fill the section */
    background-color: transparent;
}


.about-section {
    position: relative;
    z-index: 1; /* Ensure the content is on top of particles */
    padding: 40px 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    background-color: transparent;
}

.headshot {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px 0;
    object-fit: cover;
}

.about-section p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #333;
}

.typewriter {
    font-family: 'Lora', serif;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2rem;
    border-right: 2px solid;
}

.blinking::after {
    content: '|';
    position: absolute;
    right: 0;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.typewriter:not(.blinking) {
    border-right: none;
}
