/* src/components/ProjectDetails.css */
.project-images {
    display: flex;
    flex-direction: column; /* Stack images vertically, use row for horizontal */
    gap: 10px; /* Space between images */
  }

  .project-images img {
    max-width: 100%; /* Responsive images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: rounded corners */
  }

  .projectDetails {
    margin: 30px 20px;
  }
  .projectDetails h1,
  .projectDetails p {
    text-align: center;
    margin: auto;
  }


  .projectDetails h2 {
    text-align: left;
    margin-left: auto;
  }

  .project-pdf, .project-video {
  margin: 20px; /* Adjust as needed */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: adds a slight background color */
  padding: 10px; /* Optional: adds padding for better appearance */
  border-radius: 8px; /* Optional: rounds the corners */
}

.pdf, .vid {
  border-radius: 8px;
}

.details {
  text-align: left;
  margin-left: 40px;
}