/* Global CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button {
  outline: none; /* Remove outline from all links and buttons */
  text-decoration: none; /* Remove underline from links */
  cursor: pointer; /* Change cursor to pointer for better UX */
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

/* Using EB Garamond for headings */
h1, h2, h3 {
  font-family: 'EB Garamond', sans-serif;
}

/* Using Lora for body text */
body, p {
  font-family: 'Lora', serif;
}
